body{
    position: relative;
    min-height: 100vh;
    overflow-y: scroll;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0px;
    text-align: center;
}
.container-fluid{
    padding-bottom: 50px;
}
.navbar{
    background-color: rgb(21, 197, 82);
    color: antiquewhite;
    width: 100%;
}

a{
    color: antiquewhite;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 10px solid white;
    background-color: rgb(21, 197, 82);
    color: antiquewhite;
}