body{
    position: relative;
    min-height: 100vh;
    overflow-y: scroll;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0px;
    text-align: center;
}
.container-fluid{
    padding-bottom: 50px;
}
.navbar{
    color: antiquewhite;
    width: 100%;
    border: 100px antiquewhite;
}

a{
    color: antiquewhite;
}

legend{
    text-align: left;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 10px solid white;
    color: antiquewhite;
}

.light-green{
    background-color:  rgb(21, 197, 83);
}
.blue{
    background-color: #1587c5;
    color: antiquewhite;
}
.bright-green{
    background-color: #4dc515;
}
.dark-green{
    background-color: #35ac5e;
    color: antiquewhite;
}