<div class="container-fluid" id="body">
  <form action="submit" class="col-12" id="insert_drug_form">
    <legend class="">Add Drug</legend>
    <div class="form-group row">
      <label class="col-form-label">Name</label>
      <div class="col-2">
        <input type="text" name="add_name" class="form-control" placeholder="Name">
      </div>
      <label class="col-form-label">NDC</label>
      <div class="col-2">
        <input type="number" name="add_ndc" class="form-control" placeholder="xxxxx-xxxx-xx">
      </div>
      <label class="col-form-label">Price</label>
      <div class="col-2">
          <input type="number" step="0.01" name="add_price" class="form-control" placeholder="$0.00">
      </div>
      <label class="col-form-label">Strength</label>
      <div class="col-2">
        <input type="number" step="0.01" name="add_strength" class="form-control" placeholder="0 mg">
      </div>
      <button type="submit" id="add_drug_btn" class="btn dark-green">Add</button>
    </div>
  </form>
  <form action="submit" class="col-12" id="search_drug_form">
    <legend >Search Drugs</legend>
    <div class="form-group row">
      <label class="col-form-label">Name</label>
      <div class="col-2">
        <input type="text" name="search_name" class="form-control" placeholder="Name">
      </div>
      <label class="col-form-label">NDC</label>
      <div class="col-2">
        <input type="number" name="search_ndc" class="form-control" placeholder="xxxxx-xxxx-xx">
      </div>
      <label class="col-form-label">Price</label>
      <div class="col-2">
          <input type="number" step="0.01" name="search_price" class="form-control" placeholder="$0.00">
      </div>
      <label class="col-form-label">Strength</label>
      <div class="col-2">
        <input type="number" step="0.01" name="search_strength" class="form-control" placeholder="0 mg">
      </div>
      <button type="submit" id="search_drug_btn" class="btn dark-green ">Search</button>
      <div class="col-1">
        <button id="reset_btn" class="btn dark-green">Reset</button>
      </div>
    </div>
  </form>
  <form action="submit" class="col-12" id="update_drug_form">
    <legend class="">Update QTY</legend>
    <div class="form-group row">
      <label class="col-form-label">QTY</label>
      <div class="col-2">
        <input type="text" id="update_qty" class="form-control" placeholder="Name">
      </div>
    </div>
  </form>
    <!--It will generate a list for existing item-->'          
  <h2 style="text-align: left;">Inventory</h2>
  <div class="table-responsive">
    <table class="table" id= "drugs">
      {{!-- Query information gets inserted here --}}
    </table>
  </div>
</div>
<script src="./drug.js"><{{!}}/script>