<div class="container-fluid">
  <div style="padding: 5px;" class="row blue">
    <div class="col-sm float-left">
      <h3 style="text-align: left;">Pharmacy's location:</h3>
      <h5 style="text-align: left;">Phone: </h5>
      <h5 style="text-align: left;">Fax: </h5>
    </div>
    <div class="col-sm float-right">
      <h6 style="text-align: right;">Date:</h6>
      <h6 style="text-align: right;">RX Completed:</h6>
      <h6 style="text-align: right;">RX Queue:</h6>
      <button id="newRX" class="btn dark-green float-right">New RX</button>
    </div>
  </div>
    <div style="padding-top: 30px;" class="container-fluid">
      <form action="" id="insert_pharmacy_form">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text dark-green">Pharmacy</span>
          </div>
          <input id="name" type="text" class="form-control" placeholder="Fred Meyer">
          <div class="input-group-prepend">
              <span class="input-group-text dark-green">Number</span>
          </div>
          <input id="phone" type="text" class="form-control" placeholder="888-000-0000">
          <div class="input-group-prepend">
              <span class="input-group-text dark-green">Fax</span>
          </div>
          <input id="fax" type="text" class="form-control" placeholder="888-000-0000">
          <div class="input-group-prepend">
              <span class="input-group-text dark-green">Address</span>
          </div>
          <input id="address" type="text" class="form-control" placeholder="100th st">
          <div class="input-group-prepend">
              <span id="dea" class="input-group-text dark-green">DEA</span>
          </div>
          <input id="dea" type="text" class="form-control" placeholder="XX000000000">
          <button type="submit" id="add_pharmacy_btn" class="btn dark-green">Add</button>
        </div>
      </form>
      <div style="padding-top: 10px;" class="container">
        <table class="table">
          <thead class="light-green">
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Fax</th>
            <th scope="col">DEA</th>
            <th scope="col">Edit</th>
          </thead>
          <tbody id="pharmacy_tbody">
          </tbody>
        </table>
      </div>
    </div>
</div>
<script src="./script.js"><{{!}}/script>
