<div class="container-fluid" id="body">
  <form id="search_order_form">
    <legend class="">Search orders</legend>
    <div class="form-group row">
      <label for="search_order_btn" class="col-form-label">Last Name</label>
      <div class="col-3">
          <input type="text" id="search_lname" class="form-control" placeholder="Smith">
      </div><br>

      <label for="search_order_btn" class="col-form-label">First Name</label>
      <div class="col-3">
          <input type="text" id="search_fname" class="form-control" placeholder="Bob">
      </div>

      <label for="search_order_btn" class="col-form-label">Drug Name</label>
      <div class="col-3">
          <input type="text" id="search_drug_name" class="form-control" placeholder="Advil">
      </div>
      <button type="submit" id="search_order_btn" class="btn dark-green">Search</button>
      <div class="col-1">
        <button id="reset_btn" class="btn dark-green">Reset</button>
      </div>
    </div>
  </form>
  <form class="col-12" id="search">
    <legend class="">Create A New Order</legend>
    <div class="form-group row">
        <label for="add_order_btn" class="col-form-label">Last Name</label>
        <div class="col-3">
            <input type="text" name="first" class="form-control" placeholder="Smith">
        </div><br>
        <label for="add_order_btn" class="col-form-label">First Name</label>
        <div class="col-3">
            <input type="text" name="last" class="form-control" placeholder="Bob">
        </div>
    </div>
    <div class="form-group row">
        <label for="add_order_btn" class="col-form-label">Drug Name</label>
        <div class="col-3">
            <input type="text" name="drug" class="form-control" placeholder="Drug Name">
        </div>
        <label for="add_order_btn" class="col-form-label">Drug NDC</label>
        <div class="col-3">
            <input type="number" name="NDC" class="form-control" placeholder="xxxxx-xxxx-xx">
        </div>
        <button type="submit" id="add_order_btn" class="btn dark-green">Create</button>
    </div>
  </form>
  <legend id="table_legend"></legend>
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-dark" id="order_table">
      {{!-- Query info goes here --}}
    </table>
  </div>
</div>
<script src="./order.js"><{{!}}/script>