<div class="container-fluid" id="body">
<form action="submit" class="col-12" id="insert_patient_form">
  <legend class="">Add Patient</legend>
  <div class="form-group row">
      <label for="add_patient_btn" class="col-form-label">Last Name</label>
      <div class="col-3">
          <input type="text" id="add_fname" class="form-control" placeholder="Smith">
      </div><br>
      <label for="add_patient_btn" class="col-form-label">First Name</label>
      <div class="col-3">
          <input type="text" id="add_lname" class="form-control" placeholder="Bob">
      </div>
      <label for="add_patient_btn" class="col-form-label">DOB</label>
      <div class="col-3">
          <input type="date" id="add_dob`" class="form-control">
      </div>
  </div>
  <div class="form-group row">
    <label for="add_patient_btn" class="col-form-label">Email</label>
    <div class="col-3">
        <input type="text" id="add_email" class="form-control" placeholder="saradik@oregonstate.edu"></label>
    </div>
    <label for="add_patient_btn" class="col-form-label">Phone</label>
    <div class="col-3">
        <input type="text" id="add_phone" class="form-control" placeholder="888-555-555"></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="add_gender" id="male" value="Male">
      <label class="form-check-label" for="add_patient_btn">Male</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="add_gender" id="female" value="Female">
      <label class="form-check-label" for="add_patient_btn">Female</label>
    </div>
    <button type="submit" id="add_patient_btn" class="btn dark-green">Add</button>
  </div>
</form>
<form action="submit" id="search_patient_form">
  <legend class="">Search Patients</legend>
  <div class="form-group row">
    <label for="search_patient_btn" class="col-form-label">Last Name</label>
    <div class="col-3">
        <input type="text" id="search_fname" class="form-control" placeholder="Smith">
    </div><br>

    <label for="search_patient_btn" class="col-form-label">First Name</label>
    <div class="col-3">
        <input type="text" id="search_lname" class="form-control" placeholder="Bob">
    </div>

    <label for="search_patient_btn" class="col-form-label">DOB</label>
    <div class="col-3">
        <input type="date" id="search_dob" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="search_patient_btn" class="col-form-label">Email</label>
    <div class="col-3">
        <input type="email" id="search_email" class="form-control" placeholder="saradik@oregonstate.edu"></label>
    </div>

    <label for="search_patient_btn" class="col-form-label">Phone</label>
    <div class="col-3">
        <input type="text" id="search_phone" class="form-control" placeholder="888-555-555"></label>
    </div>

    <label for="search_patient_btn" class="col-form-label">Gender</label>
    <div class="col-3">
        <input type="text" id="search_gender" class="form-control" placeholder="Male"></label>
    </div>

    <button type="submit" id="search_patient_btn" class="btn dark-green">Search</button>
    <div class="col-1">
      <button id="reset_btn" class="btn dark-green">Reset</button>
    </div>
  </div>
</form>
<legend>Patients</legend>
<div class="table-responsive">
  <table class="table table-bordered table-hover table-dark" id="patients"></table>
</div>
<div class="table-responsive">
  <table class="table table-bordered table-hover table-dark" id="search_patient"></table>
</div>
<form class="col-12" id="update">
  <legend class="">Update Patient Info</legend>
  <div class="form-group row">
      <label for="updateP" class="col-form-label">Last Name</label>
      <div class="col-3">
          <input type="text" id="fist" class="form-control" placeholder="Smith">
      </div><br>
      <label for="updateP" class="col-form-label">First Name</label>
      <div class="col-3">
          <input type="text" id="last" class="form-control" placeholder="Bob">
      </div>
      <label for="updateP" class="col-form-label">DOB</label>
      <div class="col-3">
          <input type="date" id="last" class="form-control">
      </div>
  </div>
  <div class="form-group row">
      <label for="updateP" class="col-form-label">Email</label>
      <div class="col-3">
          <input type="text" id="email" class="form-control" placeholder="saradik@oregonstate.edu"></label>
      </div>
      <label for="updateP" class="col-form-label">Phone</label>
      <div class="col-3">
          <input type="text" id="phone" class="form-control" placeholder="888-555-555"></label>
      </div>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="gender" id="male" value="male">
          <label class="form-check-label" for="updateP">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="gender" id="female" value="female">
          <label class="form-check-label" for="updateP">Female</label>
        </div>
      <button type="submit" id="updateP" class="btn dark-green">Update</button>
  </div>
</form>
</div>
<script src="./patient.js"><{{!}}/script>