 <div class="container-fluid">
  <legend id="sale_table_legend">Sales:</legend>
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-dark" id="sale_table"></table>
  </div>
  <legend id="order_table_legend">Completed Orders:</legend>
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-dark" id="closed_order_table"></table>
  </div>
</div>
<script src="./sale.js"><{{!}}/script>