body{
    position: relative;
    min-height: 100vh;
    overflow-y: scroll;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0px;
    text-align: center;
    background-color: #d2e0d980;
}

a{
    color: antiquewhite;
}

legend{
    text-align: left;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 10px #d2e0d980;
    color: antiquewhite;
}

/* classes */
.container-fluid{
    padding-bottom: 50px;
}
.navbar{
    color: antiquewhite;
    width: 100%;
    border: 100px antiquewhite;
}

.table-responsive{
    height: 300px;       
    overflow: scroll;
    background-color: #343a40;
    border-collapse: collapse;
}

.table th{
    position: sticky;
    top: 0;
    background-color: rgb(21, 197, 83);
    border: 0px;
}


/* colors */
.light-green{
    background-color:  rgb(21, 197, 83);
}
.blue{
    background-color: #1587c5;
    color: antiquewhite;
}
.bright-green{
    background-color: #4dc515;
}
.dark-green{
    background-color: #35ac5e;
    color: antiquewhite;
}